.zig-cache/
zig-out/
*.o


# Ambientes virtuales
venv/
env/

# Archivos de bases de datos
data/

# Python
_pycache_/
*.pyc
.ipynb_checkpoints/


# Logs
logs/


# Sistema
.DS_Store

# Ignorar archivo de embeddings
scripts/conversaciones_con_embeddings.csv
